<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{styles/loged_style.css}">
    <link rel="stylesheet" th:href="@{styles/loged_buttons.css}">
    <title></title>
</head>
<body>
<header id="header" th:fragment="header">
    <button type="button" id="sidebarCollapse_button" class="navbar-btn">
        <span></span>
        <span></span>
        <span></span>
    </button>
    <img th:src="@{images/user-icon.png}" alt="user icon" id="header_user" src="">
</header>
</body>
</html>