<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{styles/index_style.css}">
    <link rel="stylesheet" th:href="@{styles/index_buttons.css}">
    <title></title>
</head>
<body>
    <header class="header" th:fragment="header">
        <button type="button" class="sidebarCollapse_button" id="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <form action="/logout" method="post">
            <input type="submit" value="Sign Out" class='sign_out_button'/>
        </form>
    </header>

<div th:fragment="back_to_dashoard">
    <a th:href="@{/dashboard}" class="back">
        <img th:src="@{/images/gauche-dark.png}" alt="" class="arrow">
        <p>Back</p>
    </a>
</div>
<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{js/loged_js.js}"></script>
</body>
</html>