<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/styles/new_project.css}">
    <link rel="stylesheet" th:href="@{/styles/new_project_buttons.css}">
    <link rel="stylesheet" th:href="@{/styles/activity_detail_css.css}">
    <link rel="stylesheet" th:href="@{/styles/index_buttons.css}">
    <link rel="stylesheet" th:href="@{/styles/index_style.css}">
    <link rel="stylesheet" href="../static/styles/index_style.css">
    <link rel="stylesheet" href="../static/styles/index_buttons.css">
    <link rel="stylesheet" href="../static/styles/activity_detail_css.css">

    <title th:text="${activity.getTitle()}">Document</title>
</head>
<body>

<header th:insert="fragments/back_header :: back_to_dashoard"></header>

<div class="wrapper">
    <div th:insert="fragments/navigation :: left_nav">

    </div>

    <!-- Page Content Holder -->
    <div class="content">
        <div class="topic_title_status">
            <p class="topic_title" th:text="${activity.getTitle()}">Title</p>
            <p class="topic_status" th:text="${activity.getStatus().name()}">Status</p>
        </div>
        <div class="line"></div>

        <div class="content_box">
            <div class="start_date_box">
                <p class="start_date">Start date: <span
                        th:text="${activity.getDate()}">start date</span></p>
            </div>

            <div class="description_box">
                <p class="description">Description</p>
                <p th:text="${activity.getDescription()}"></p>
            </div>
            <div th:if="${assignedUser != null}">
                <div class="assignet_box_text">
                    <p class="assignet">Assigned: <span th:text="${assignedUserName}"></span></p>
                </div>

                <div class="box_place">
                    <div class="time_box" th:each="report : ${reports}" th:if="${reports.size() > 0}">
                        <p><span class="end_datet" th:text="${report.getReportDate()}">04.09.2022</span>
                    <div class="doted_line"></div>
                    <span class="wasted_time" th:text="${report.getReportTime()}">1 hour 20 min</span>
                    </div>
                    <div class="time_box" th:if="${reports.size() == 0}">
                        <p>Report don't set</p>
                    </div>
                </div>
                <form th:if="${user.getReportPermission()} " action="" class="input_box">
                    <div class="text_of_input_box">
                        <p class="enter_time">Enter the spent time (in minutes):</p>
                        <label>
                            <input type="number" class="input" required>
                        </label>
                    </div>
                    <div class="push_box">
                        <button class="push_button">push</button>
                        <a href="" class="close_button">
                            <div>close</div>
                        </a>
                    </div>
                </form>
            </div>
            <div th:unless="${assignedUser != null}" class="assign_box">
                Don't have assignment
                <div>
                    You can Assign
                    <div th:each="developer, state  : ${developers}">
                        <p th:utext="${state.count}"></p>
                        <p th:text="${developer.getFullName()}"></p>
                        <a class="add_button"
                           th:href="@{|/project/activity/assign/${developer.getId()}/${activity.getId()}/${projectId}|}">Assign</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script th:src="@{/js/loged_js.js}"></script>
</div>
</body>
</html>