<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/styles/index_style.css}">
    <link rel="stylesheet" th:href="@{/styles/index_buttons.css}">
    <link rel="stylesheet" href="../static/styles/index_style.css">
    <link rel="stylesheet" href="../static/styles/index_buttons.css">
    <title>Authorization</title>
</head>
<body>
    <div th:insert="fragments/navigation :: header"></div>

    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav class="sidebar">
            <div class="sidebar_head">
                <div class="name_picture_box">
                    <img th:src="@{images/test photo profile.png}" src="../static/images/test photo profile.png" alt="Flowers" class="sidebar_picture">
                    <p class="side_head_text" th:inline="text" th:text="${user.getFullName()}"></p>
                </div>
                <div class="sider_inf_box">
                    <div class="upper_dev_inf">
                        <p class="sider_dev_inf">Developer: <span class="input_inf">UX/UI Design</span></p>
                        <p class="sider_dev_inf">Role: <span class="input_inf" th:text="${user.getRole().name()}">Free</span></p>
                        <p class="sider_dev_inf">Gender: <span class="input_inf" th:text="${user.getGender().name()}">Free</span></p>
                        <p class="sider_dev_inf">Email: <span class="input_inf" th:text="${user.getEmail()}">Free</span></p>
                    </div>
                    <p class="project">Project: <span class="input_project">IOS App</span></p>
                </div>
            </div>
            <div class="sider_dashboards">
                <div class="sider_dash_box">
                     <img th:src="@{images/dashboard-dark-icon.png}" src="../static/images/dashboard-dark-icon.png" alt="dashboard_picture" class="dashboard_pic">
                    <p class="dash_text">Dashboard</p>
                </div>

            </div>

            <div  class="color_swicher">
                <input type="checkbox" class="checkbox" id="chk" />
                <label class="label" for="chk">
                  <div class="ball"></div>
                </label>
            </div>
        </nav>

        <!-- Page Content Holder -->
        <div class="content" th:insert="fragments/nav_pages :: dashboard_main_content"></div>
        
    </div>
    

    <script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script th:src="@{js/loged_js.js}"></script>
    <!-- <script src="../static/js/loged_js.js"></script> -->
    <!-- <script>
        var dashboard_text = document.querySelectorAll("dash_text");
        const chk = document.getElementById('chk');
        chk.addEventListener('change', () => {
        document.body.classList.toggle('light');
        document.getElementsByClassName('sidebar_head')[0].classList.toggle('light');
        document.getElementsByClassName('upper_dev_inf')[0].classList.toggle('light');
        document.getElementsByClassName('project')[0].classList.toggle('light');
        document.getElementsByClassName('sidebar')[0].classList.toggle('light');
        document.getElementsByClassName('content')[0].classList.toggle('light');
        document.getElementsByClassName('label')[0].classList.toggle('light');
        for(var i = 0; i < document.querySelectorAll('.dash_text').length; i++){
            document.getElementsByClassName('dash_text')[i].classList.toggle('light');
            document.getElementsByClassName('sider_dash_box')[i].classList.toggle('light');
        };
        for(var i = 0; i < document.querySelectorAll('.box_head').length; i++){
            document.getElementsByClassName('box_head')[i].classList.toggle('light');
            document.getElementsByClassName('see_button')[i].classList.toggle('light');
            document.getElementsByClassName('box')[i].classList.toggle('light');
        };
        });
        document.getElementsByClassName('main_title')[0].classList.toggle('light');
        document.getElementsByClassName('header')[0].classList.toggle('light');
        document.getElementsByClassName('add_button')[0].classList.toggle('light');
    </script> -->
</body>

</html>