<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" th:href="@{/styles/index_style.css}">
    <link rel="stylesheet" th:href="@{/styles/index_buttons.css}">
    <link rel="stylesheet" href="../static/styles/index_style.css">
    <link rel="stylesheet" href="../static/styles/index_buttons.css">
    <title th:text="${titlePage}">Authorization</title>
</head>
<body>
<div th:insert="fragments/navigation :: header"></div>

<div class="wrapper">
    <div th:insert="fragments/navigation :: left_nav">
            <!-- Sidebar Holder -->
    </div>
    <!-- Page Content Holder -->
     <div class="content" th:if="${user.getRole().name() == 'MANAGER'}" th:insert="fragments/nav_pages :: dashboard_main_content"></div>
    <div class="content" th:unless="${user.getRole().name() == 'MANAGER'}">
        <div class="manage_creator">
            <p class="main_title">Dashboard</p>
            <p class="main_title">Activities</p>
        </div>
        <div class="line"></div>
        <div class="space_for_box">
            <div th:each="activity, state : ${activities}" class="box_employee">
                <div class="left_part">
                    <p th:text="${state.count}">1</p>
                    <p>.</p>
                    <p th:text="${activity.getTitle()}">Project1</p>
                </div>
                <div class="right_part">
                    <p th:text="${activity.getStatus().name()}">Started</p>
                    <a class="add_button employee_button" th:href="@{|project/activity/${consists.get(state.count - 1)}/${activity.getId()}|}">View</a>
                </div>
                
            </div>
        </div>
    </div>


</div>


<script th:src="@{https://code.jquery.com/jquery-3.3.1.slim.min.js}"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script th:src="@{/js/loged_js.js}"></script>

</body>

</html>