<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet"1 href="styles/manager_new_activities.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="back">
            <img src="/front/images/gauche-dark.png" alt="" id="arrow">
            <p>Back</p>
        </div>
    </header>

    <section>
        <div class="left_part">
            <div id="left_head">
                <p id="activity">Activities</p>
                <div id="button_box">
                    <img src="/front/images/nouveau-symbole-bleu.png" alt="" id="plus">
                    New
                </div>
            </div>
            <div id="left_body">
                <div id = function_activities_box>
                    <div id="circle_func_box">
                        <div id="circle"></div>
                        <p id="function_activities">Do some function</p>
                    </div>
                    <div id="view_button">View</div>
                </div>
                <div id = function_activities_box>
                    <div id="circle_func_box">
                        <div id="circle"></div>
                        <p id="function_activities">Do some function</p>
                    </div>
                    <div id="view_button">View</div>
                </div>
                <div id = function_activities_box>
                    <div id="circle_func_box">
                        <div id="circle"></div>
                        <p id="function_activities">Do some function</p>
                    </div>
                    <div id="view_button">View</div>
                </div>
                <div id = function_activities_box>
                    <div id="circle_func_box">
                        <div id="circle"></div>
                        <p id="function_activities">Do some function</p>
                    </div>
                    <div id="view_button">View</div>
                </div>
                <div id = function_activities_box>
                    <div id="circle_func_box">
                        <div id="circle"></div>
                        <p id="function_activities">Do some function</p>
                    </div>
                    <div id="view_button">View</div>
                </div>
                <div id = function_activities_box>
                    <div id="circle_func_box">
                        <div id="circle"></div>
                        <p id="function_activities">Do some function</p>
                    </div>
                    <div id="view_button">View</div>
                </div>
                <div id = function_activities_box>
                    <div id="circle_func_box">
                        <div id="circle"></div>
                        <p id="function_activities">Do some function</p>
                    </div>
                    <div id="view_button">View</div>
                </div>
                <div id = function_activities_box>
                    <div id="circle_func_box">
                        <div id="circle"></div>
                        <p id="function_activities">Do some function</p>
                    </div>
                    <div id="view_button">View</div>
                </div>
                <div id = function_activities_box>
                    <div id="circle_func_box">
                        <div id="circle"></div>
                        <p id="function_activities">Do some function</p>
                    </div>
                    <div id="view_button">View</div>
                </div>
                
            </div>
        </div>


        <div class="right_part">
            <div id="box_1">
                <div id="box_1_head">
                    <div id="box1_head_left">
                        <p id="task_id">9511DXP</p>
                        <p id="task_version">version B</p>
                    </div>
                    <div id="project_name">
                        Project name...
                    </div>
                </div>
                <div id="box_1_body">
                    <p id="activity_num">Activities: <span id="activity_count">5</span></p>
                    <p id="daily_record">Record Time (Daily):<span id="daily_record_count">3 hour 25 minutes</span></p>
                    <p id="total_record">Record Time (Total):<span id="total_record_count">32 hour 21 minutes</span></p>
                </div>
            </div>
            <div id="box_2">
            </div>
        </div>
    </section>
    
</body>
</html>
