<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="styles/manager_logged_page.css">
    <link rel="stylesheet" href="styles/loged_battons.css">
    <title>logged_page</title>

</head>

<body>
    <header id="header">
        <button type="button" id="sidebarCollapse_button" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <img src="images/user-icon.png" alt="" id="header_user">
    </header>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav class="sidebar"">
            <div class="sidebar_head">
                <div id="name_picture_box">
                    <img src="images/test photo profile.png" alt="Flowers" id="sidebar_picture">
                    <p id="side_head_text">Surname Name</p>
                </div>
                <div id="sider_inf_box">
                    <div id="upper_dev_inf">
                        <p id="sider_dev_inf">Developer: <span id="input_inf">UX/UI Design</span></p>
                        <p id="sider_dev_status">Status: <span id="input_status">Free</span></p>
                    </div>
                    <p id="project">Project: <span id="input_project">IOS App</span></p>
                </div>
            </div>
            <div class="sider_dashboards">
                <div class="sider_dash_box">
                    <img src="images/dashboard-dark-icon.png" alt="dashboard_picture", id="dashboard_pic">
                    <p class="dash_text">Dashboard</p>
                </div>
                <div class="sider_dash_box">
                    <img src="images/dashboard-dark-icon.png" alt="dashboard_picture", id="dashboard_pic">
                    <p class="dash_text">Dashboard</p>
                </div>
                <div class="sider_dash_box">
                    <img src="images/dashboard-dark-icon.png" alt="dashboard_picture", id="dashboard_pic">
                    <p class="dash_text">Dashboard</p>
                </div>
                <div class="sider_dash_box">
                    <img src="images/dashboard-dark-icon.png" alt="dashboard_picture", id="dashboard_pic">
                    <p class="dash_text">Dashboard</p>
                </div>
            </div>

            <div  id="color_swicher">
                <input type="checkbox" class="checkbox" id="chk" />
                <label class="label" for="chk">
                  <div class="ball"></div>
                </label>
            </div>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <div class="manage_creator">
                <button id="add_button"><span id="plus">+</span> New</button>
                <p id="main_title">Projects</p>
            </div>
            <div class="space_for_box">
                <div id="line"></div>
                <div class="box">
                    <div class="box_head">
                        <div id="box_head_left">
                            <p id="projects_id"">9511DXP</p>
                            <p id="project_version">version B</p>
                        </div>
                        <p id="project_name">Project name...</p>
                    </div>
                    <div class="box_body">
                        <p id="project_activities">Activities</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_work_dev">Developers</p>
                    </div>
                    <div class="footer">
                        <div id="footer_images">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                        </div>
                        <button class="see_button" role="button">See more</button>
                    </div>
                </div>
                <div class="box">
                    <div class="box_head">
                        <div id="box_head_left">
                            <p id="projects_id"">9511DXP</p>
                            <p id="project_version">version B</p>
                        </div>
                        <p id="project_name">Project name...</p>
                    </div>
                    <div class="box_body">
                        <p id="project_activities">Activities</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_work_dev">Developers</p>
                    </div>
                    <div class="footer">
                        <div id="footer_images">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                        </div>
                        <button class="see_button" role="button">See more</button>
                    </div>
                </div>
                <div class="box">
                    <div class="box_head">
                        <div id="box_head_left">
                            <p id="projects_id"">9511DXP</p>
                            <p id="project_version">version B</p>
                        </div>
                        <p id="project_name">Project name...</p>
                    </div>
                    <div class="box_body">
                        <p id="project_activities">Activities</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_work_dev">Developers</p>
                    </div>
                    <div class="footer">
                        <div id="footer_images">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                        </div>
                        <button class="see_button" role="button">See more</button>
                    </div>
                </div>
                <div class="box">
                    <div class="box_head">
                        <div id="box_head_left">
                            <p id="projects_id"">9511DXP</p>
                            <p id="project_version">version B</p>
                        </div>
                        <p id="project_name">Project name...</p>
                    </div>
                    <div class="box_body">
                        <p id="project_activities">Activities</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_work_dev">Developers</p>
                    </div>
                    <div class="footer">
                        <div id="footer_images">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                        </div>
                        <button class="see_button" role="button">See more</button>
                    </div>
                </div>
                <div class="box">
                    <div class="box_head">
                        <div id="box_head_left">
                            <p id="projects_id"">9511DXP</p>
                            <p id="project_version">version B</p>
                        </div>
                        <p id="project_name">Project name...</p>
                    </div>
                    <div class="box_body">
                        <p id="project_activities">Activities</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_deep_id">9511-12 Design of communication module</p>
                        <p id="project_work_dev">Developers</p>
                    </div>
                    <div class="footer">
                        <div id="footer_images">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                            <img src="images/test photo profile.png" alt="" id="box_image">
                        </div>
                        <button class="see_button" role="button">See more</button>
                    </div>
                </div>
            
            </div>
   
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>


    <script src="js/loged_js.js"></script>

</body>

</html>