<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet"1 href="styles/manager_new_task.css">
    <link rel="stylesheet" href="styles/manager_new_task_buttons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div id="back">
            <img src="/front/images/gauche-dark.png" alt="" id="arrow">
            <p>Back</p>
        </div>
    </header>
    <section>
           <div class="box">
              <div id="box_head">
                <div id="new_project_button">
                    New project
                </div>
              </div>
              <div id="project_name_box">
                  <p id="pr_name">Project name</p>
                  <input type="text" id="name_input" placeholder="Enter Project name...">
              </div>
              <div id="project_id_box">
                  <p id="pr_number">Project number</p>
                  <input type="text" id="number_input" placeholder="Enter Project number...">
              </div>
              <div id="version_box">
                  <p id="pr_version">Version:</p>
                  <input type="text" id="version_input" placeholder=" ex.  A | B">
              </div>
              <div id="box_footer">
                  <button id="create_button" role="button">Create</button>
              </div>
           </div>

    </section>
    
</body>
</html>