<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/styles/manager_new_task.css">
    <link rel="stylesheet" href="../static/styles/manager_new_task_buttons.css">
    <link rel="stylesheet" th:href="@{/styles/manager_new_task.css}">
    <link rel="stylesheet" th:href="@{/styles/manager_new_task_buttons.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Activity</title>
</head>
<body>
<div th:insert="fragments/navigation :: header"></div>
<form action="#" th:action="'/project/activity/create/' + ${id}" method="post" th:object="${activity}">
    <p>title</p>
    <label for="title">
        <input type="text" th:field="*{title}" id="title"/>
    </label>
    <p>description</p>
    <label for="description">
        <input type="text" th:field="*{description}" id="description"/>
    </label>
    <p>status</p>
    <label for="status">
        <input type="text" th:field="*{status}" id="status"/>
    </label>
    <p>startDate</p>
    <label for="startDate">
        <input type="date" pattern="yyyy-MM-dd" th:field="*{startDate}" id="startDate"/>
    </label>
    <button value="Submit" type="submit">Submit</button>
</form>

</body>
</html>