<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/styles/manager_new_task.css">
    <link rel="stylesheet" href="../static/styles/manager_new_task_buttons.css">
    <link rel="stylesheet" th:href="@{/styles/manager_new_task.css}">
    <link rel="stylesheet" th:href="@{/styles/manager_new_task_buttons.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Activity</title>
</head>
<body>
<div th:insert="fragments/navigation :: header"></div>
<section>
    <div class="box">
        <div id="box_head">
            <div id="new_project_button">
                New project
            </div>
        </div>
        <form th:action="'/project/activity/create/' + ${projectId}" th:object="${activity}" method="post">
            <div id="project_name_box">
                <p id="pr_name">Activity title</p>
                <label for="title">
                    <input type="text" id="title"
                           th:value="*{title}"
                           placeholder="Like 'Android App'"></label>
            </div>
            <div id="project_id_box">
                <p id="pr_number">Description</p>
                <label for="description">
                    <input type="text" id="description"
                           th:value="*{description}"
                           placeholder="Like 'Develop new Application for the new company...'"></label>
            </div>
            <div id="version_box">
                <p id="pr_version">Status:</p>
                <label for="status">
                    <input type="text" th:value="*{status}" id="status"
                           placeholder="Like 'IN_PROGRESS'"></label>
            </div>

            <div id="version_box">
                <p id="pr_version">Date to start:</p>
                <label for="start_date">
                    <input type="date" th:value="*{startDate}" id="start_date"></label>

            </div>
            <div id="box_footer">
                <button id="create_button" type="submit" value="Submit" role="button">Create</button>
            </div>
        </form>
    </div>

</section>

</body>
</html>