.sign_button {
  background-color: #3A506B;
  border: 1px solid transparent;
  border-radius: 20px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 14px;
  font-weight: 600;
  /* line-height: 1.5rem; */
  text-align: center;
  transition-duration: .3s;
  width: 160px;
  height: 70%;
  margin-right: 3%;
  
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.sign_button:hover {
  background-color: #2EE59D;
}

.sign_button:focus {
  box-shadow: none; 
  outline: 2px solid transparent;
  outline-offset: 2px;
}


.log_button {
  width: 40%;
  height: 20%;
  margin-top: 10%;
  margin-bottom: 5%;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #000;
  background-color: #8FDBFF;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  /* outline: none; */
  /* transition-duration: .3s; */
  }

  .log_button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
  color:white;
}