*{
	margin: 0;
	padding: 0;
}

html,body,section{
    height:100%;
  }

header{
    background-color: #1C2441;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

section{
    background-image: url('../images/main-photo.jpg');
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.registration_box{
    margin: 70px 0px 0px 0px;
    border-radius: 25px;
    width: 27%;
    height: 75%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#0B122B;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    /* box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; */
}

.reg_text_box{ 
    width: 100%;
    height: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.line{
    background-color:#636467;
    height: 1.5px;
    width: 100%;
}
.picture{
    width: 55%;
    margin: 30px 0px 30px 0px;
}

.input_div{
    margin-top: 10px;
    /* background-color:antiquewhite; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 45%;
}
.label{
    width: 80%;
    height: 100%;
    /* background-color:blueviolet; */
}
.input_fields{
    padding-left: 10px;
    height: 40px;
    width: 100%;
    font-size: 12px; 
    /* padding-left: 10px; */
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color: #3A506B;
    color: #9DA8B5;
    border: 0.5px solid #636467;
    border-radius:4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.form{
    /* background-color:aquamarine; */
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}


@media (max-width: 1300px) {
  .left_sight {
    display: none;
  }
  .right_sight{
      width: 100%;
      /* align-items:center; */
      justify-content: center;
  }
  .registration_box{
    margin: 70px 0px 0px 0px;
  }

}

@media (max-width: 1200px) {
    .registration_box{
        width: 30%;
    }
    
}

@media (max-width: 1000px){
    .registration_box{
        margin: 70px 0px 0px 0px;
        width: 40%;
      }
}

@media (max-width: 850px){
    .registration_box{
        width: 45%;
      }
}
@media (max-width: 700px){
    .registration_box{
        width: 60%;
      }
}
@media (max-width: 500px){
    .registration_box{
        width: 95%;
      }
}