.vertical_line {
    border-left: 1px solid gray;
    /*height: 500px;*/
}

.pad-h-2 {
    padding: 0 2rem;
}

.flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  min-height: -webkit-fill-available;
}